*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c3e3e4;
    color: #ffe694;
    padding: .6rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .links {
    display: flex;
    justify-content: center;
  }
  
  .links img{
    width: 1.5rem;
  }
  
  .links a {
    color: #333;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .links img{
    height: 1rem;
    width: 1rem;
  }
  
  .logout form {
    display: inline-block;
  }
  
  .logout button {
    border: 1px solid #333;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }